#Catalog flowbox list,
#Catalog flowbox list row,
#Catalog flowbox flowboxchild {
  background: transparent;
  background-color: transparent;
  outline: transparent;
}

#Catalog flowbox list row {
  margin-bottom: 6px;
}

.btag {
  background: color-mix(in srgb, currentColor 10%, transparent);
  color: inherit;
  border-radius: 99px;
  padding-left:10px;
}

.btag button {
  margin: 3px;
  min-width: 0;
  min-height: 0;
  padding: 6px;
}

.tag {
  background: color-mix(in srgb, currentColor 10%, transparent);
  color: inherit;
  border-radius: 99px;
  padding: 6px 12px 6px 12px;
}

.duration {
  padding: 0px 10px 0px 10px;
  border-radius: 14px;
}
